*{
    margin:0;
    padding:0;
}
.header{
    display: flex;
    /* width: 100%; */
    height: 100px;
    padding: 16px 78px;
    background-color: #fff;
    align-items: center;
}
.logo{
    width:130px;
    font-size:32px;
    color:#0084ff
}
.logo-Stories{
    margin: 0;
    font-weight: 500px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}
.content{
    width: 80%;
    justify-content:center;
    margin:auto;
    padding: 0;
}
.trending-posts{
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    padding-top: 16px;
}
.trending-posts h1{
    color: #000;
    font-weight:600;
    margin:0;
}
.trending-posts p{
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
}
.filter li{
    list-style-type: none;
    display: inline-block;
    margin:10px 5px ;
}
.filter li a{
    text-decoration: none;
    padding: 6px 14px;
    width: auto;
    color:#0084ff;
    border-radius: 15px;
    border:1px solid #0084ff;
    margin:5px;
    cursor: pointer; 
}
.filter li a:hover{
    color:#fff;
    background-color: #0084ff;
}
.courses{
    display:flex;
    flex-direction:column;
    border-radius: 10px;
    margin:0;
}
.courses .course-list{
    display:flex;
    width: 100%;
    padding:10px;
    gap: 15px;
}
.Cards{
    width: 33.3%;
    height: auto;
}
.Cards div img{
    width: 100%;
    height: 176px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-content{
    padding:10px 24px;
    height: 178px;
    overflow: hidden;
}
.card-content h3{
    font-size: 18px;
    text-align:left;
    margin: 0;
    font-weight:600px;
}
.card-content p > span{
    padding-top:4px;
}
.detail{
    font-size: 14px;
    font-weight: 400px;
    line-height: 1.43;
    color: rgba(0,0,0,.6);
    margin: 4px 0;
}
.date{
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    font-weight: 300px;
}
.author{
    color: #0096ff;
    font-size: 14px;
    font-style:italic;
    font-weight: 500px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #dee4df;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    color: black;
    background-color: #fff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
  }
  
  .dropdown-content a {
    padding: 2px 2px;
    border-bottom: 2px solid rgb(189, 40, 40);
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ffffff;
      color:rgb(67, 4, 255);
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #d6dad6;
  }

.footer{
    background-color: #172146;
    padding: 80px 16%;
    color: rgb(255, 255, 255);
    font-size: large;
}
